<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrspd.dotsandboxes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Ui.ResultActivity"></activity>
        <activity android:name=".Ui.ChooseModeAndGridActivity" />
        <activity android:name=".Ui.HomeActivity" />
        <activity android:name=".Ui.SlectPlayersActivity" />
        <activity android:name=".Ui.GameActivity" />
        <activity android:name=".Ui.SpalshScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.MusicService" />
    </application>

</manifest>